.b-header {
  position: fixed;
  width: 100%;
  background: #fff;
  padding: 20px 0;
  z-index: 999;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 3px;
}

.b-navigation {
  text-align: center;
  &__item {
    display: inline-block;

    font-weight: 700;
    color: $link-color__primary;
    background: url(/assets/img/nav-bg.png) no-repeat scroll right center;

    &--last {
      background: none;
    }

    &[data-active=true] a {
      color: $link-color__secondary;
      border-bottom: 1px solid $link-color__secondary;
    }

    & a {
      margin: 0 25px;
      color: inherit;
      padding-bottom: 2px;
    }

    & a:hover {
      color: $link-color__primary;
      border-bottom: 1px solid $link-color__primary;
      text-decoration: none;
    }
  }
}