.b-header {
  position: fixed;
  width: 100%;
  z-index: 999;

  box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 3px;

  &--static {
    transition: all 0.5s ease-in;
    background: rgba(255, 255, 255, 0.90);
    @include respond-to('sm_max') {
      padding: 17px 0;
    }
    @include respond-to('sm') {
      padding: 20px 0;
    }

    & .b-navigation-mobile__menu-button {
      transition: all 0.5s ease-in;
      fill: black;
    }
  }

  &--embedded {
    transition: all 0.5s ease-out;
    background: rgba(255, 255, 255, 0);
    @include respond-to('sm') {
      padding: 35px 0;
    }
    @include respond-to('sm_max') {
      padding: 32px 0;
    }

    & .b-navigation-mobile__menu-button {
      transition: all 0.5s ease-out;
      fill: white;
    }

    & li a {
      color: #fff;
    }
  }
}

.b-navigation {
  text-align: center;
  @include respond-to('sm_max') {
    display: none !important;
  }
  &__item {
    display: inline-block;
    font-weight: 700;
    color: $link-color__primary;
    background: url(/assets/img/nav-bg.png) no-repeat scroll right center;

    &--last {
      background: none;
    }

    &[data-active=true] a {
      color: $link-color__secondary;
      border-bottom: 1px solid $link-color__secondary;
    }

    & a {
      margin: 0 25px;
      color: inherit;
      padding-bottom: 2px;
      transition: color 0.3s ease-in;
    }

    & a:hover {
      color: $link-color__secondary;
      border-bottom: 1px solid $link-color__secondary;
      text-decoration: none;
    }
  }
}

.b-navigation-mobile {
  @include respond-to('sm') {
    display: none !important;
  }
  &__menu-button {
    height: 26px;
    width: 26px;
    float: right;
    margin-right: 20px;
    cursor: pointer;
  }
}