.b-header {
  position: fixed;
  width: 100%;
  z-index: 999;

  box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 3px;

  &--static {
    transition: all 0.5s ease-in;
    background: rgba(255, 255, 255, 0.90);
    @include respond-to('sm_max') {
      padding: 17px 0;
    }
    @include respond-to('sm') {
      padding: 20px 0;
    }

    & .b-navigation-mobile__menu-button {
      transition: all 0.5s ease-in;
      fill: black;
    }
  }

  &--embedded {
    transition: all 0.5s ease-out;
    background: rgba(255, 255, 255, 0);
    @include respond-to('sm') {
      padding: 35px 0;
    }
    @include respond-to('sm_max') {
      padding: 17px 0;
    }

    & .b-navigation-mobile__menu-button {
      transition: all 0.5s ease-out;
      fill: white;
    }

    & li a {
      color: #fff;
    }
  }
}

.b-navigation {

  @include respond-to('sm_max') {
    &--hidemobile {
      right: -200px;
      transition: all 0.5s ease-in;
    }
    transition: all 0.5s ease-out;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgb(51, 51, 51);
    border-radius: .25em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .6);
    line-height: 3em;
    width: 196px;

    &__item {
      &[data-active=true] a {
        color: $link-color__secondary;
        border-bottom: 1px solid $link-color__secondary;
      }

      & a {
        color: #fff;
        padding-bottom: 2px;
        transition: color 0.3s ease-in;
      }
    }
  }

  @include respond-to('sm') {
    text-align: center;
    &__item {
      display: inline-block;
      font-weight: 700;
      color: $link-color__primary;
      background: url(/assets/img/nav-bg.png) no-repeat scroll right center;

      &--last {
        background: none;
      }

      &[data-active=true] a {
        color: $link-color__secondary;
        border-bottom: 1px solid $link-color__secondary;
      }

      & a {
        margin: 0 25px;
        color: inherit;
        padding-bottom: 2px;
        transition: color 0.3s ease-in;
      }

      & a:hover {
        border-bottom: 1px solid $link-color__primary;
        text-decoration: none;
      }
    }
  }
}

.b-navigation-mobile {
  @include respond-to('sm') {
    display: none !important;
  }
  &__menu-button {
    height: 26px;
    width: 26px;
    float: right;
    margin-right: 20px;
    cursor: pointer;
  }
}